<form #form="ngForm" (ngSubmit)="handleSubmit()">
  <div class="input-group mb-3 shadow-sm">
    <input
      type="text"
      class="form-control"
      placeholder="Nueva tarea"
      aria-label="Nueva tarea"
      name="newNote"
      required
      minlength="1"
      maxlength="59"
      [(ngModel)]="noteTitle"
      (ngModelChange)="noteTitle = noteTitle.trimStart().slice(0, 59)"
      #noteInput="ngModel"
    />

    <button
      class="btn btn-success"
      type="submit"
      [disabled]="form.invalid || isCreating"
    >
      @if (isCreating) {
      <span class="spinner-border spinner-border-sm me-2"></span>
      ⏳ Creando... } @else { Agregar Nota }
    </button>
  </div>
  <!-- Prueba -->
  @if (isCreating) {
  <small class="text-muted"> ⏳ Guardando tu nota... </small>
  }
</form>

<div
  class="alert alert-danger"
  *ngIf="noteInput.touched && noteInput.errors?.['required']"
>
  ⚠️ El título es obligatorio.
</div>

<div
  class="alert alert-warning"
  *ngIf="noteInput.touched && noteInput.errors?.['minlength']"
>
  ⚠️ Mínimo 1 carácter requerido.
</div>

<div
  class="alert alert-info"
  *ngIf="noteInput.touched && noteTitle.length === 59"
>
  ⚠️ Tenés el máximo de caracteres permitidos.
</div>
