<app-header></app-header>
<div class="container my-5">
  <h2 class="text-center mb-4">Mis Notas</h2>
  <app-create-note (createNote)="onNoteCreated($event)"></app-create-note>

  <div class="row justify-content-center">
    @if (hasError) {
    <div class="col-12 text-center mt-4">
      <div class="alert alert-danger" role="alert">
        <h4>No se han podido cargar las notas.</h4>
        <p>Por favor, intenta de nuevo más tarde.</p>
      </div>
    </div>
    } @else if (isLoading) {
    <div class="col-12 text-center mt-4">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando notas...</span>
      </div>
      <p class="mt-2">Cargando notas...</p>
    </div>
    } @else {
    <div class="col-lg-8 col-md-10">
      <ul class="list-unstyled mt-4">
        @for (note of noteService.notes; track note.id) {
        <li>
          <app-note-card
            [note]="note"
            (updateNote)="onUpdateNote($event)"
            (deleteNote)="onDeleteNote($event)"
          ></app-note-card>
        </li>
        }
      </ul>
    </div>
    }
  </div>
</div>