<form #form="ngForm" class="card shadow-sm mb-3">
  <div class="card-body d-flex align-items-center">
    <div class="form-check d-flex align-items-center me-3">
      <input
        type="checkbox"
        class="form-check-input"
        name="noteMarked"
        [(ngModel)]="note()!.marked"
      />
    </div>
    <div class="flex-grow-1 me-3">
      <input
        type="text"
        class="form-control border-0 bg-transparent fw-bold"
        name="noteTitle"
        required
        minlength="1"
        maxlength="59"
        [(ngModel)]="note()!.title"
        #titleInput="ngModel"
      />
    </div>

    <div class="btn-group">
      <button
        type="button"
        class="btn btn-success"
        [disabled]="form.invalid || !form.dirty"
        (click)="updateNote.emit(note()!)"
      >
        Guardar
      </button>
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="deleteNote.emit(note()!.id!)"
      >
        Eliminar
      </button>
    </div>
  </div>
</form>

<div
  class="alert alert-info"
  *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)"
>
  ⚠️ El título es obligatorio.
</div>

<div
  class="alert alert-info"
  *ngIf="titleInput.touched && note()!.title?.length === 59"
>
  ⚠️ Tenés el máximo de caracteres permitidos.
</div>